name: Linters

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install markdownlint-cli2
        run: npm install -g markdownlint-cli2

      - name: Run markdownlint
        run: markdownlint-cli2 "**/*.md"

  commitlint:
    name: Run commitlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run commitlint
        uses: wagoid/commitlint-github-action@v5
        with:
          configFile: .commitlintrc.yaml
